@import 'normalize.css';

:root {
    --primary: #fe2c55;
    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
